.wallet-info-modal{
    background-image: url('https://static.locanto.info/assets/230210_181402/images/promotion/overlays/uhp/overlay_bacround.png');
    background-size:cover;
    background-position:center;
}